*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --lightness: 85%;

  --color-primary: #0070f3;
  --color-secondary: #ff0080;
  --color-accent: #79ffe1;

  --color-background: #242424;
  --color-bg-rgb: 36, 36, 36;

  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: hsl(217 61 var(--lightness));
  --color-link-visited: hsl(246 61 var(--lightness));
  /* --color-link: #0070f3; */
  /* --color-link-hover: #0070f3; */

  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-serif: "Georgia", Cambria, "Times New Roman", Times, serif;
  --font-mono: "Menlo", Monaco, "Courier New", Courier, monospace;

  --glass-bg-color: rgba(var(--color-bg-rgb), 0.3);
  --glass-border-width: 3px;
  --glass-border: var(--glass-border-width) groove var(--glass-bg-color);
  --glass-blur: 15px;
  --glass-gradient-direction: to bottom right;
  --glass-gradient: linear-gradient(
    var(--glass-gradient-direction),
    rgba(var(--color-bg-rgb), 0.25),
    10%,
    rgba(var(--color-bg-rgb), 0.5),
    /* rgba(var(--color-bg-rgb), 0.5), */ 90%,
    rgba(var(--color-bg-rgb), 0.75)
  );

  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto max-content;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  display: contents;
}

a,
.btn-link {
  color: var(--color-link);
  text-decoration: none;
  /* border-bottom: 1px solid var(--color-link); */
  padding: 0.25rem 0rem 0.125rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  text-shadow: inherit;
  transition: background-color 75ms ease-in-out;
}

a {
  text-decoration: underline;
  /* text-decoration-thickness: 0.0875rem; */
  text-underline-offset: 0.375rem;
}

a:hover {
  background-color: var(--glass-bg-color);
}

a:visited {
  color: var(--color-link-visited);
  /* border-bottom-color: var(--color-link-visited); */
}

.btn-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* padding: 0; */
  /* font-size: 1rem; */
  font: inherit;
}

.glass {
  background-image: var(--glass-gradient);
  border: var(--glass-border);
  border-radius: 0.125rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.glass::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
}

input:not([type="checkbox"], [type="radio"], [type="file"], [type="image"], [type="range"]),
textarea,
select,
option {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

p {
  line-height: 1.5;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-bg-rgb: 255, 255, 255;
    --color-text: #333;
    --color-text: #213547;
    --lightness: 50%;
    --glass-gradient-direction: to top left;
  }
}
