*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #0070f3;
  --color-secondary: #ff0080;
  --color-accent: #79ffe1;
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: #0070f3;
  --color-link-hover: #0070f3;
  --color-link-visited: #0070f3;

  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-serif: "Georgia", Cambria, "Times New Roman", Times, serif;
  --font-mono: "Menlo", Monaco, "Courier New", Courier, monospace;

  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto max-content;
}

#root {
  display: contents;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

a:visited {
  color: var(--color-link-visited);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #333;
    color: #213547;
    background-color: #ffffff;
  }
}
