footer {
  display: grid;
  place-items: center;
}

.footer-links,
.footer-social-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-images {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-image {
  width: 100%;
  aspect-ratio: 1 / 1.46;
  object-fit: cover;
}
