.menu__burger-icon {
  width: 36px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  gap: 5px;
  margin: 0;
  padding: 4px 0;
  cursor: pointer;
  line-height: 1;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: none;
}

.menu__burger-icon::after {
  display: none;
}

.menu__burger-icon:hover,
.menu__burger-icon:active,
.menu__burger-icon:focus {
  width: 36px;
  box-shadow: none;
  background-color: inherit;
  transition: none;
  animation: none;
}

.menu__burger-icon:focus-visible {
  outline: auto;
  outline-offset: 4px;
}

.menu__burger-icon span {
  position: relative;
  display: block;
  background-color: var(--color-text);
  height: 4px;
  border-radius: 3px;
  transition: transform 200ms ease;
  transform-origin: 5px 5px;
}

.menu__burger-icon span:last-child {
  transform-origin: 5px -1px;
}
