.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
