.submenu-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.submenu-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  inset: calc(100% + 0.5rem) 0 auto;
  border-radius: 0.25rem;
}

button[aria-expanded] {
  display: flex;
  gap: 0.5rem;
}

button[aria-expanded]::before {
  content: "↓";
}

@media (max-width: 768px) {
  .submenu-items {
    position: static;
    background-color: transparent;
    align-items: flex-start;
    box-shadow: none;
    padding-left: 2rem;
  }

  .submenu-items > * {
    padding-right: 0.5rem;
    text-wrap: nowrap;
  }

  button[aria-expanded]::before {
    content: "↳";
  }
}
