.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-img {
  display: flex;
  width: auto;
  height: 200px;
}

.thumbnail-skeleton {
  display: flex;
  align-items: center;
  height: 200px;
}
